.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.p-panelmenu .p-panelmenu-panel {
  margin-bottom: 1px;
}

.p-treetable .p-treetable-header {
  background: white;
  margin-bottom: 10px;

}

.p-menubar {
  background-color: white;
}

.p-breadcrumb {
  padding: 1.5rem;
  border: none !important;
}

.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
  border: none !important;
  background-color: white;
}

body {
  background-color: #d3d0d0
}